/** @class Ext.tab.Bar */
//

$tabbar-background-gradient: 'none' !default;
$tabbar-strip-height: 5px !default;
$tabbar-border-width: 0 !default;
$tabbar-strip-border-width: 0 0 !default;
$tabbar-strip-plain-border-width: $tabbar-strip-border-width !default;
$tabbar-scroller-include-plain-icon: true !default;

$tabbar-strip-background-color: #fff500 !default;
