/** @class Ext.tab.Tab */
//

$tab-base-color: mix(#fff, $base-highlight-color, 10%) !default;
$tab-base-color-focus: $tab-base-color !default;
$tab-base-color-over: mix(#fff, $base-highlight-color, 20%) !default;
$tab-base-color-active: #fff500 !default;
$tab-base-color-focus-over: $tab-base-color-over !default;
$tab-base-color-focus-active: $tab-base-color-active !default;

$tab-border-color: $tab-base-color !default;
$tab-border-color-focus: $tab-base-color-focus !default;
$tab-border-color-over: $tab-base-color-over !default;
$tab-border-color-active: $tab-base-color-active !default;
$tab-border-color-disabled: $tab-border-color !default;

$tab-color: #ffffff !default;
$tab-color-focus: $tab-color !default;
$tab-color-over: $tab-color !default;
$tab-color-active: #434343 !default;
$tab-color-focus-over: $tab-color-over !default;
$tab-color-focus-active: #434343 !default;

$tab-background-gradient: 'matte' !default;
$tab-background-gradient-over: 'matte' !default;
$tab-background-gradient-active: 'matte' !default;
$tab-background-gradient-disabled: 'matte' !default;

$tab-border-radius: 0px 0px 0 0 !default;
$tab-inner-border-width-focus: 1px !default;
$tab-inner-border-width-focus-over: $tab-inner-border-width-focus !default;
$tab-inner-border-width-focus-active: $tab-inner-border-width-focus !default;
$tab-inner-border-color-focus: tab-inner-border-color-focus($tab-base-color-focus, $tab-color-focus) !default;
$tab-inner-border-color-focus-over: tab-inner-border-color-focus-over($tab-base-color-focus-over, $tab-color-focus-over) !default;
$tab-inner-border-color-focus-active: tab-inner-border-color-focus-active($tab-base-color-focus-active, $tab-color-focus-active) !default;

$tab-padding: 7px 12px 6px !default;

$tab-margin: 0 1px 0 0 !default;
$tab-icon-spacing: 6px !default;

$tab-text-opacity-disabled: .3 !default;
$tab-closable-icon-width: 12px !default;
$tab-closable-icon-height: 12px !default;
$tab-closable-icon-include-hover-background-position: true !default;
$tab-closable-icon-include-pressed-background-position: true !default;
$tab-closable-icon-opacity-disabled: $tab-text-opacity-disabled !default;