/** @class Global_CSS */
//

$color: #000 !default;
$font-family: helvetica, arial, verdana, sans-serif !default;
$font-size: 13px !default;
$font-weight: normal !default;
$font-weight-bold: bold !default;
$line-height: 17px !default;
$base-color: #FFCC00 !default;
$base-highlight-color: mix(#fff, $base-color, 15%) !default;
$base-light-color: mix(#fff, $base-color, 65%) !default;
$base-dark-color: mix(#000, $base-color, 14%) !default;
$neutral-color: #e1e1e1 !default;
$neutral-light-color: mix(#fff, $neutral-color, 68%) !default;
$neutral-medium-dark-color: mix(#000, $neutral-color, 14%) !default;
$neutral-dark-color: mix(#000, $neutral-color, 22%) !default;
$error-color: #cf4c35 !default;
$confirmation-color: #73b51e !default;
$error-light-color: mix(#fff, $error-color, 20%) !default;
$confirmation-light-color: mix(#fff, $confirmation-color, 35%) !default;
$body-background-color: $neutral-light-color !default;
$include-default-uis: true !default;
