/** @class Ext.button.Button */
//

$button-icon-spacing: 5px !default;
$button-small-font-size: 12px !default;
$button-small-font-weight: $font-weight-bold !default;
$button-small-padding: 3px !default;
$button-small-text-padding: 5px !default;
$button-medium-font-size: 14px !default;
$button-medium-line-height: 18px !default;
$button-medium-font-weight: $font-weight-bold !default;
$button-medium-padding: 3px !default;
$button-medium-text-padding: 8px !default;
$button-large-font-size: 16px !default;
$button-large-line-height: 20px !default;
$button-large-font-weight: $font-weight-bold !default;
$button-large-padding: 3px !default;
$button-large-text-padding: 10px !default;

$button-default-color: #ffffff !default;
$button-default-base-color: #0093dd !default;
$button-default-border-color: #0093dd !default;
$button-default-inner-border-width-focus: 1px !default;

$button-include-ui-menu-arrows: true !default;
$button-include-ui-split-arrows: true !default;

$button-small-arrow-width: 16px !default;
$button-small-arrow-height: 13px !default;
$button-medium-arrow-width: 24px !default;
$button-medium-arrow-height: 18px !default;
$button-large-arrow-width: 28px !default;
$button-large-arrow-height: 20px !default;

$button-small-split-width: 20px !default;
$button-small-split-height: 15px !default;
$button-medium-split-width: 28px !default;
$button-medium-split-height: 24px !default;
$button-large-split-width: 35px !default;
$button-large-split-height: 29px !default;

$button-toolbar-color: #666 !default;
$button-toolbar-background-color: $neutral-light-color !default;
$button-toolbar-border-color: $neutral-color !default;
$button-toolbar-inner-border-width-focus: 1px !default;
$button-toolbar-inner-border-color-focus: mix($button-toolbar-background-color, $base-color, 20%) !default;
$button-toolbar-inner-border-color-focus-over: $button-toolbar-inner-border-color-focus !default;
$button-toolbar-inner-border-color-focus-pressed: $button-toolbar-inner-border-color-focus !default;

$button-toolbar-plain-border-color: transparent !default;
$button-toolbar-plain-background-color: transparent !default;

$button-small-border-radius: 0px !default;
$button-medium-border-radius: 0px !default;
$button-large-border-radius: 0px !default;

$button-default-background-gradient: 'matte' !default;
