
.roboto{
	font-family: 'Roboto Slab';-webkit-font-smoothing:antialiased;
}

.ubuntu{
	font-family: 'Ubuntu';-webkit-font-smoothing:antialiased;
}

@font-face {
  font-family: 'font-awesome';
  src: url("../font-awesome/font/fontawesome-webfont.eot");
  src: url("../font-awesome/font/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("../font-awesome/font/fontawesome-webfont.woff") format("woff"), url("../font-awesome/font/fontawesome-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.x-mask{
	background: #cccccc;
}