body{
	background: url('../img/khs3.png');
}

@font-face {
  font-family: 'font-awesome';
  src: url("../font-awesome/font/fontawesome-webfont.eot");
  src: url("../font-awesome/font/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("../font-awesome/font/fontawesome-webfont.woff") format("woff"), url("../font-awesome/font/fontawesome-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.icon { 
	font-family: 'font-awesome';-webkit-font-smoothing:antialiased; 
	/* color:#a0daff; */
}

.panel-splash{
	border-radius:0px;
	/*background:#FF7518;*/
	background: linear-gradient(to top, #FF7518, #DD4814);
	background-size:contain;
	/*height:250px;*/
}

.container{
	background:transparent;
	width: 47.5%;
	margin:auto;
	min-height: 120px;
}

.margin-top-10{
	margin-top: 10%; 
}

.margin-top-5{
	margin-top: 5%; 
}

.margin-top-2{
	margin-top: 2%; 
}

.header_acc{
	background: url('../img/khs.png');
	background-size: contain;
	/*background:black;*/
	/*margin-top:110px;*/
	height:120px;
	float:left;
	width:100%;
}

.header_acc2{
	background: url('../img/cloud.png');
	background-size: contain;
	background-position: right; 
	background-repeat: repeat-x;
	/*background:black;*/
	position:absolute;
	margin-top:165px;
	height:80px;
	float:right;
	width:40%;
}

@media screen and (max-width: 800px) {

	/*.header_acc2{
		margin-top:200px;
	}*/
}

@media screen and (max-width: 750px) {
	.container{
		width: 95%;
	}

	.header_acc2{
		width:85%;
	}
}