body {
    background-color: #FFFFFF;
    font: 10pt "Arial Narrow";
}

h1{
	padding: 10px;
	clear: both;
	text-align: center;
	font: 12pt "Arial";
	font-weight: bold;
}

#rincian{
	clear: both;
	border: 0;
}

#rincian td{
	width: 6.3cm;
	border: 0;
}

#judul{
	background-color: #000000;
	color: #FFFFFF;
	text-align: center;
}

#subjudul{
	background-color: #808080;
	color: #FFFFFF;
	text-align: center;
	border: 5px solid white;
}

#item{
	text-align: left;
	border: 1px solid black;
	border-collapse:collapse;
}
