/** @class Ext.panel.Panel */
//

$panel-header-color: #ffffff !default;
$panel-header-text-transform: none !default;
$panel-header-line-height: 16px !default;
$panel-header-font-weight: $font-weight-bold !default;
$panel-header-padding: 9px 9px 10px !default;
$panel-border-width: 1px !default;
$panel-body-border-color: $neutral-medium-dark-color !default;
$panel-header-border-width: 1px !default;
$panel-body-border-width: 1px !default;
$panel-frame-border-width: 5px !default;
$panel-frame-header-border-width: $panel-frame-border-width !default;
$panel-tool-spacing: 6px !default;
$panel-tool-background-image: 'tools/tool-sprites' !default;
$panel-frame-padding: 0 !default;

$panel-frame-header-padding:
    max(top($panel-header-padding) + top($panel-header-border-width) - top($panel-frame-header-border-width), 0)
    max(right($panel-header-padding) + right($panel-header-border-width) - right($panel-frame-header-border-width), 0)
    max(bottom($panel-header-padding) - bottom($panel-frame-header-border-width), 0)
    max(left($panel-header-padding) + left($panel-header-border-width) - left($panel-frame-header-border-width), 0)
    !default;

$panel-header-icon-width: 16px !default;
$panel-header-icon-height: 16px !default;
$panel-header-icon-spacing: 6px !default;

// panel-light vars
$panel-light-header-font-family: $font-family !default;
$panel-light-header-font-size: $font-size !default;
$panel-light-header-font-weight: $panel-header-font-weight !default;
$panel-light-header-color: #666 !default;
$panel-light-header-background-color: mix($base-light-color, $neutral-light-color, 30%) !default;
$panel-light-header-text-transform: none !default;
$panel-light-border-color: $panel-light-header-background-color !default;
$panel-light-header-border-color: $panel-light-border-color !default;
$panel-light-body-border-color: $panel-light-border-color !default;
$panel-light-tool-background-image: 'tools/tool-sprites-dark' !default;

$panel-light-frame-border-color: $panel-light-border-color !default;
$panel-include-border-management-rules: true !default;

/**
 * @var {boolean}
 * True to include the "light" panel UI
 */
$include-panel-light-ui: $include-default-uis !default;

/**
 * @var {boolean}
 * True to include the "light-framed" panel UI
 */
$include-panel-light-framed-ui: $include-default-uis !default;

$panel-frame-border-radius: 1px !default;
