<!DOCTYPE HTML>
<html manifest="">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="resources/img/logo.png" />
    <meta charset="UTF-8">

    <title>{{title}}</title>
    <!-- css section -->
	<link href='http://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Ubuntu:400,300' rel='stylesheet' type='text/css'>
    <link href='boot.css' rel='stylesheet' type='text/css'>
    <link href='ext/packages/sencha-charts/build/neptune/resources/sencha-charts-all.css' rel='stylesheet' type='text/css'>
	<link href='resources/css/customStyle.css' rel='stylesheet' type='text/css'>

    <!-- The line below must be kept intact for Sencha Cmd to build your application -->
    <script id="microloader" type="text/javascript" src="bootstrap.js"></script>
    <style type="text/css">
        #loading-mask{
            background-color:#ffffff;
            height:100%;
            position:fixed;
            left:0;
            top:0;
            width:100%;
            z-index:18996;
            text-align:center;
            padding-top:200px;
        }

        a{
            text-decoration: none;
            color:#FF9900;
        }

        a:hover{
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <div id="loading-mask">
        <img src="resources/img/ajax-loader.gif" width="100px"><br><br>
        <div style="color:#FF9900;font-size:16px" class="ubuntu">Memuat Aplikasi Manajemen Dapodik PAUD-Dikmas 2015</div><br>
    </div>
</body>
</html>
